<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gobase.component.dao.mall.goods.GoodsMapper">
  
  <!-- g.id 左连接别名 -->
  <sql id="My_Column_List">
    g.id, g.goods_id, g.tiny_name, g.full_name, g.description, g.create_time, g.creator, g.offline_time, 
    g.online_time, g.big_img, g.small_img, g.category1, g.category2, g.category3, g.status, g.remark, 
    g.shop_id, g.audit_status, g.real_price, g.ori_price, g.update_time, g.total_num
  </sql>
  <!-- mygoodsdto.distinct 前缀的重要 和mapper的对应 x -->
  <select id="mySearchGoods" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <if test="mygoodsdto.distinct != null">
    DISTINCT 
    </if>
    <include refid="My_Column_List" />
    FROM goods g LEFT JOIN shop s ON s.id = g.shop_id WHERE 1=1 
    <if test="mygoodsdto.search != null">
    AND g.full_name LIKE CONCAT('%',#{mygoodsdto.search},'%')
    </if>
    <if test="mygoodsdto.category1 != null">
    AND g.category1 = #{mygoodsdto.category1}
    </if>
    <if test="mygoodsdto.category2 != null">
    AND g.category2 = #{mygoodsdto.category2} 
    </if>
    <if test="mygoodsdto.category3 != null">
    AND g.category3 = #{mygoodsdto.category3}
    </if>
    <if test="mygoodsdto.cityId != null">
    AND s.city_id = #{mygoodsdto.cityId}
    </if>
    <if test="mygoodsdto.shopId != null">
    AND s.shop_id = #{mygoodsdto.shopId}
    </if>
    <if test="mygoodsdto.start != null and mygoodsdto.limit != null">
    LIMIT #{mygoodsdto.start},#{mygoodsdto.limit}
    </if>
    
  </select>
</mapper>